.soma {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.soma:hover {
	background-color:#5cbf2a;
}
.soma:active {
	position:relative;
	top:1px;
}

.sub {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.sub:hover {
	background-color:#5cbf2a;
}
.sub:active {
	position:relative;
	top:1px;
}

.div {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.div:hover {
	background-color:#5cbf2a;
}
.div:active {
	position:relative;
	top:1px;
}

.multi {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.multi:hover {
	background-color:#5cbf2a;
}
.multi:active {
	position:relative;
	top:1px;
}

body {
    cursor:help;
}

p{
    color:white;
    background-color: #4b958b;
    width: 310px;
}

body{
	background-color:#65c8bb;
}

h1{
	color:antiquewhite;
}